# Database
# Connect to Supabase via connection pooling
DATABASE_URL=""
DIRECT_URL=""

# SMTP (Gmail)

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=test@123.com
SMTP_PASSWORD=abcdabcdabcdabcd
SMTP_FROM=Thongbao@API.com
SMTP_FROM_NAME="Thong bao gia"
SMTP_ENCRYPTION=tls
# App
CRAWL_INTERVAL_HOURS=6
API_KEY=your_secret_api_key_here
